@model SMMC.Models.SheetMusicTutor

@{
    ViewData["Title"] = "Edit";
}

<h2>Confirm Return</h2>
<h4>Title: @ViewData["SheetMusic"] </h4>
<h4>Loaned to: @ViewData["name"] </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SheetMusicTutorId" />            
            <div class="form-group">
                <input type="submit" value="Return" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
